
<uib-tabset justified="true">
    <uib-tab heading="All Movies" ng-click="movieVM.reset()">
        <div class="well">

            <div class="text-center">
                <div class="spinner" ng-hide="!!movieVM.movies">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
            <div class="panel panel-primary" ng-show="!!movieVM.movies">
                <div class="panel-heading">
                    <h3 class="panel-title">List of All Movies</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="search col-md-6">
                            <input type="text" placeholder="Search...." ng-model="movieVM.searchText" class="form-control" />

                            <div class="col-md-6">
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3" sly-repeat="movie in  movieVM.movies | filter:movieVM.searchText">

                            <div class="col-md-12 card-container">
                                <div class="column">
                                    <div class="post-module">
                                        <!-- Thumbnail-->
                                        <div class="thumbnail">
                                            <div class="date">
                                                <div class="month">{{movie.Year}}</div>
                                            </div><img src={{movie.Poster}} />
                                        </div>
                                        <!-- Post Content-->
                                        <div class="post-content">
                                            <div class="category">{{movie.Type}}</div>
                                            <h1 class="title">{{movie.Title}}</h1>
                                            <p class="description">
                                                Lorem ipsum dolor sit amet, id probatus argumentum has, an etiam iusto pri. Sit facilis iracundia maiestatis te, vix everti habemus signiferumque ea.
                                                Ei ius esse docendi intellegam. Per in vitae tation.
                                            </p>
                                            <div class="post-meta"><span class="timestamp"><i class="fa fa-thumbs-up"></i> 35</span><button class="btn btn-success circle float-right" ng-click="movieVM.viewDetails(movie.ID)"><i class="fa fa-eye"></i></button></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </uib-tab>
    <uib-tab heading="Movie Details" active="movieVM.editTabFlag" ng-show="movieVM.editFlag">
        <div class="well">
            <div class="row">
                <div class="movie-card">
                    <div class="col-md-6">

                        <a href="#"><img src={{movieVM.movie.Poster}} alt="cover" class="cover" /></a>

                        <div class="hero">

                            <div class="details">

                                <div class="title1">{{movieVM.movie.Title}} </div>

                                <div class="title2">{{movieVM.movie.Released}} <span>{{movieVM.movie.Rated}}</span></div>

                                <fieldset class="rating">
                                    <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                                    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                    <input type="radio" id="star4" name="rating" value="4" checked /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                    <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                    <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                    <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>

                                </fieldset>
                                <span class="rating"> | {{movieVM.movie.Rating}}</span>
                                <span class="likes">35 likes</span>

                            </div> <!-- end details -->

                        </div> <!-- end hero -->

                        <div class="description row">

                            <div class="col-md-4">

                                <span class="tag" sly-repeat="genre in movieVM.movie.genreList">{{genre}}</span>
                            <hr />
                                <div class="row">
                                    <button type="button" class="btn btn-success" ng-show="!!movieVM.moviePrice">Best Price From {{movieVM.moviePrice[0].Source}} <span class="badge">{{movieVM.moviePrice[0].Price}}</span></button>
                                </div>
                            </div> <!-- end column1 -->

                            <div class="col-md-8">
                                <div class="text-center">
                                    <div class="spinner" ng-hide="!!movieVM.movie.Plot">
                                        <div class="bounce1"></div>
                                        <div class="bounce2"></div>
                                        <div class="bounce3"></div>
                                    </div>
                                </div>
                                <p ng-show="!!movieVM.movie.Plot">{{movieVM.movie.Plot}}... <a href="#">read more</a></p>

                                <div class="avatars" ng-show="!!movieVM.movie.Plot">
                                <span class="tag">Viewed By:</span>
                                    <a href="#">
                                        <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAJVAAAAJGI3ZTQxNWU5LTI4YTAtNGEwMi1hY2YxLTVlOTJmZTVkZmFhYQ.jpg" alt="avatar1" />
                                    </a>

                                    <a href="#">
                                        <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAJVAAAAJGI3ZTQxNWU5LTI4YTAtNGEwMi1hY2YxLTVlOTJmZTVkZmFhYQ.jpg" alt="avatar2" />
                                    </a>


                                </div> <!-- end avatars -->

                           

                            </div> <!-- end column2 -->
                        </div> <!-- end description -->
                    <div class="row">
                        <span class="tag col-md-12">Related Items from IMDB:</span>
                        <span sly-repeat="movie in movieVM.relatedImdb" class="relatedTile">
                            <span class="relatedTitle">{{movie.title}}</span>
                            <span class="relatedDesc" ng-bind-html="movie.title_description | trust"></span>
                        </span>
                    </div>

                    </div> <!-- end container -->

                    <div class="col-md-4">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                Movie Details
                            </div>
                            <div class="panel-body" ng-hide="!!movieVM.movie.Director">
                                <div class="text-center">
                                    <div class="spinner" >
                                        <div class="bounce1"></div>
                                        <div class="bounce2"></div>
                                        <div class="bounce3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body" ng-show="!!movieVM.movie.Director">
                                <div class="movieDetail">
                                    <div class="detailName">Director</div>
                                    <div class="detail">{{movieVM.movie.Director}}</div>
                                </div>
                                <div class="movieDetail">
                                    <div class="detailName">Writer</div>
                                    <div class="detail">{{movieVM.movie.Writer}}</div>
                                </div>
                                <div class="movieDetail">
                                    <div class="detailName">Actors</div>
                                    <div class="detail">{{movieVM.movie.Actors}}</div>
                                </div>
                                <div class="movieDetail">
                                    <div class="detailName">Awards</div>
                                    <div class="detail">{{movieVM.movie.Awards}}</div>
                                </div>
                                <div class="movieDetail">
                                    <div class="detailName">Language</div>
                                    <div class="detail">{{movieVM.movie.Language}}</div>
                                </div>
                                <div class="movieDetail">
                                    <div class="detailName">Run Time</div>
                                    <div class="detail">{{movieVM.movie.Runtime}}</div>
                                </div>
                                <div class="movieDetail">
                                    <div class="detailName">Votes</div>
                                    <div class="detail">{{movieVM.movie.Votes}}</div>
                                </div>
                                <div class="movieDetail">
                                    <div class="detailName">Country</div>
                                    <div class="detail">{{movieVM.movie.Country}}</div>
                                </div>
                                <div class="movieDetail">
                                    <div class="detailName">Metascore</div>
                                    <div class="detail">{{movieVM.movie.Metascore}}</div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                Movie Prices
                            </div>
                            <div class="panel-body" ng-hide="!!movieVM.moviePrice">
                                <div class="text-center">
                                    <div class="spinner">
                                        <div class="bounce1"></div>
                                        <div class="bounce2"></div>
                                        <div class="bounce3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body" ng-show="!!movieVM.moviePrice">
                                <div class="movieDetail" sly-repeat="price in movieVM.moviePrice">
                                    <div class="detailName">{{price.Source}}</div>
                                    <div class="detail">{{price.Price}}</div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div> <!-- end movie-card -->
        </div>
    </uib-tab>
</uib-tabset>

<script>
    $(window).load(function () {
        $('.post-module').hover(function () {
            $(this).find('.description').stop().animate({
                height: "toggle",
                opacity: "toggle"
            }, 300);
        });
    });
</script>